* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    list-style: none;
    border: 0;
    font-family: Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(22, 194, 206);
    /* margin:20px 10px 0px 10px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-image {
    padding-left: 20px;
}

.icon {
    width: 25px;
    height: 25px;
    transition: all 1s;
}

.icon-copy {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.icon-copy:hover{
    cursor: pointer;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-large {
    width: 350px;
    height: 350px;
    opacity: 0.2;
    transition: all 0.5s;
}

.icon-large:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn {
    outline: none !important;
    box-shadow: none;
}